/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
  box-sizing: border-box;
}

button,
summary {
  cursor: pointer;
}



/***********************
  HEADER, NAV & FOOTER  
  **********************/


/* custom properties kleuren */

:root {

  --color-white: white;
  --color-coffeebrown: #290201;
  --color-tekstgrey: #6f6464;
  --color-achtergrondk: #f3f3f3;
  --color-borderkleur: lightgrey;
  --color-buttonborder: #717171;


}

/* darkmode  */

@media (prefers-color-scheme: dark) {

  :root {

    --color-white: rgb(5, 5, 5);
    --color-coffeebrown: #ffffff;
    --color-tekstgrey: #6f6464;


  }

  body header,
  footer form input[type=submit] {
    --color-white: white;


  }

  body header nav ul li,
  body footer {

    --color-coffeebrown: #290201;
  }

}

/* halloween theme  */

body.halloween {
  --color-white: rgb(2, 2, 2);
  --color-coffeebrown: orange;
  --color-tekstgrey: #6f6464;
  --color-achtergrondk: #e98808;

}

body.halloween header,
body.halloween footer form input[type=submit] {
  --color-white: white;


}

body.halloween footer {

  --color-achtergrondk: #f3f3f3;

}

/**************************
    STYLING GEHELE PAGINA  
  **************************/

body {

  color: var(--color-text);
  background-color: var(--color-white);

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}


/*****************
   NAVIGATIE STYLEN
  ******************/



/* NAV STYLING MENU */

header {

  display: flex;
  width: 100%;
  height: 3em;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  background-color: var(--color-white);
  z-index: 100;

}

/* H1 LOGO NAV STYLING*/

header h1 a img {

  width: 5em;
  height: auto;
  margin-top: 0.3em;
  padding-left: 0.5em;


}

header h1 a {

  display: block;
}


header nav {


  background-color: var(--color-achtergrondk);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  z-index: 100;
  transform: translateX(-100%);
  /*helemaal uit beeld*/
  transition: 1s;

}

header nav.open {

  transform: translateX(0%);
  /* weer in beeld terug */


}

header nav input {

  height: 3em;
  width: 100%;

  border: solid 0.5em var(--color-achtergrondk);


}

header nav ul {

  list-style: none;
  margin: 0;
  padding: 0;

  font-size: 1em;
  font-weight: 700;
}


header nav ul li {

  width: 100%;
  height: 3em;
  background-color: var(--color-white);
  padding-left: 1em;
  border-top: solid 0.1em var(--color-borderkleur);
  padding: 1em;


}


header nav ul li a {
  color: var(--color-coffeebrown);
  text-decoration: none;
  text-transform: uppercase;


}

header nav ul li:last-of-type {

  border-top: solid 0.7em var(--color-achtergrondk);

}



header nav ul li:last-of-type div {
  display: flex;
  flex-direction: column;
  width: 9em;
}

header nav ul li:last-of-type div a {

  width: 5em;
}

/* zoek icon button */

header nav ul li:last-of-type div button:first-of-type {
  display: none;
}

/* halloween icon button */
header nav ul li:last-of-type div button:last-of-type {

  width: 5em;
  height: 3em;
  padding: 0;
  border: none;
  background: none;

}

/* icoon halloween */
header nav ul li:last-of-type div button:last-of-type img {
  width: 80%;
  object-fit: cover;
}



/* HAMBURGER EN ZOEK MENU STYLING */

header>button {

  border: none;
  background: none;
  width: 5em;
  height: 4em;

}


header>button:first-of-type img {

  width: 3em;
  height: 3em;
}



/**********************
   BACK TO TOP BUTTON
***********************/


body main>button {

  background-color: var(--color-white);
  border: none;
  border-top: solid 0.1em var(--color-buttonborder);
  border-bottom: solid 0.1em var(--color-buttonborder);

  width: 100%;
  height: 4em;

}


body main>button>a {


  text-decoration: none;
  color: var(--color-coffeebrown);
  text-transform: uppercase;
  font-weight: bold;
  position: relative;

}

/* after is kind van de a  */
body main>button>a::after {

  content: "^";
  display: block;
  color: var(--color-coffeebrown);
  font-size: 2em;
  position: absolute;
  font-weight: lighter;

  right: -1em;
  bottom: -0.5em;
  transform: scaleX(1.4);
  /* skew verandert size vanaf 1 is normaal onder is kleiner  */

}


/********************
    FOOTER STYLEN 
********************/


footer {


  background-color: var(--color-achtergrondk);
  display: flex;
  justify-content: space-around;


}

footer section {

  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section h2 {

  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-coffeebrown);
  margin: .5em;
}

footer section a {

  color: var(--color-coffeebrown);
  font-size: 0.8em;
  font-family: Arial, Helvetica, sans-serif;


}


footer section p {

  /* text-align: center; */
  color: var(--color-coffeebrown);
}


footer section ul {

  list-style: none;
  display: flex;
  gap: .3em;
  margin: 0;
  padding: 0;


}

footer section ul li {

  height: 2em;
  width: 2em;


}

footer section ul li a {

  display: block;
  width: 100%;
}

footer section ul li a img {

  display: block;
  width: 100%;
}

/* form  */


footer section:last-of-type form {

  display: flex;
  margin-top: 1em;
}


footer form input[type=email] {

  background-color: transparent;
  border-style: solid;
  border-color: var(--color-borderkleur);
  font-size: 1em;
  height: 2em;
}



footer form input[type=submit] {

  background-color: var(--color-coffeebrown);
  color: var(--color-white);
  font-size: 1em;
  text-transform: uppercase;
  height: 2em;

}

@media (min-width: 23em) {


  footer {

    flex-wrap: wrap;
    flex-direction: row;

  }



}



@media (min-width: 70em) {


  header {

    height: 5em;

  }

  header>button {

    display: none;
  }

  header nav {

    transform: translateX(0%);

    background-color: transparent;

    display: flex;
    justify-content: center;
    width: 70%;
    padding: 1em;
    height: inherit;
    position: relative;
    /* inherit is pak de styling van de vader */
    /* relative = google  */

  }

  header nav input {

    display: none;
  }

  header nav ul {

    display: flex;
    width: 100%;
    height: inherit;
    position: relative;


  }

  header nav ul li {

    background-color: transparent;
    border: none;
    width: max-content;


  }

  header nav ul li:last-of-type {

    border-top: none;
    padding: 0;
    width: 7em;
    margin-left: 4em;
  }

  header nav ul li:last-of-type div {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 0.3em;
  }

  header nav ul li:last-of-type div button:first-of-type {

    display: block;
    width: 3em;
    height: 3em;
    padding: 0;

    border: none;
    background: none;

  }

  header nav ul li:last-of-type div button:first-of-type img {
    width: inherit;
    height: inherit;
  }


  header nav ul li a:hover {

    text-decoration: underline var(--color-coffeebrown);

  }

  main>ul {

    margin-top: 3em;
  }
}
