/***************************
   MAIN - HOMEPAGE STYLING
  **************************/



/* custom properties kleuren */

:root {

  --color-white: white;
  --color-coffeebrown: #290201;
  --color-tekstgrey: #6f6464;
  --color-kopjerood: rgb(233, 37, 37);
  --color-kopjeoranje: orange;
  --color-sliderhover: #717171;


}

/* darkmode  */

@media (prefers-color-scheme: dark) {

  :root {

    --color-white: rgb(5, 5, 5);
    --color-coffeebrown: #ffffff;
    --color-tekstgrey: #716f6f;

  }


  body main section ul li div h2,
  body main section ul li div p {

    --color-white: white;


  }

}

/* halloween theme  */

body.halloween {
  --color-white: rgb(2, 2, 2);
  --color-coffeebrown: orange;
  --color-tekstgrey: orange;
  --color-kopjerood: orange;

}


body.halloween main section ul li div h2,
body.halloween main section ul li div p {

  --color-white: white;


}

body.halloween footer section p {

  --color-kopjeoranje: orange;

}


/*************************
   HEADER IMG SLIDER STYLING
  **************************/


/*Code voor slider heb ik via w3schools.com https://www.w3schools.com/howto/howto_js_slideshow.asp* , 
  ik begrijp hem niet helemaal, heb hem wel een beetje aangepast en onderdelen weggelaten die ik niet nodig heb*/


* {
  box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-top: 5em;
  height: 100%;


}


.active,
.dot:hover {
  background-color: var(--color-sliderhover);
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -60px;
  padding: 16px;
  color: var(--color-white);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* de slides */
/* Hide the images by default */
.mySlides {
  display: block;
  position: relative;


}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* Sanne heeft geholpen  */
main section ul li div {
  display: grid;
  grid-template-rows: 9em 3em 6em;
  overflow: hidden;
}



/* h2 op afbeelding plaatsen */

main section ul li div h2 span {

  display: block;
  padding-left: 1rem;
}

main section ul li div h2 {


  color: var(--color-white);
  font-size: 2em;
  font-weight: bold;
  margin: 0;

  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 2;

  z-index: 50;
  align-self: flex-end;

}

/* img positie  */

main section ul li div img {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;

  display: block;
  height: 100%;

}


/* a link - soliciteren -  decoratie en plaatsing */

main section ul li div a {

  display: block;
  background-color: var(--color-kopjerood);
  width: fit-content;
  height: 2em;
  text-align: row center;
  color: var(--color-white);
  font-size: 1.2em;

  text-decoration: none;
  text-transform: uppercase;




}

main section ul li div a {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;

  z-index: 50;

  padding: 0.5em;
  position: relative;
  left: 1rem;




}


/* p - tekst onder slider styling/plaatsing */

main section ul li div p {
  padding-left: 1em;
  padding-top: 1em;
  color: var(--color-coffeebrown);
  font-weight: bold;
  margin: 0;
  text-align: left center;

  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  z-index: 50;
}



/****************************
 UL LIST STYLING ONDERWERPEN
*****************************/

main>ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23em, 25em));
  row-gap: 2em;

  justify-content: center;
  padding-bottom: 2em;

}

main>ul li {

  height: 20em;
  display: grid;
  grid-template-rows: 14em 1fr 1fr;


  position: relative;
  justify-items: center;
  row-gap: 1em;

}


main>ul li img {

  display: block;
  width: 95%;

  grid-row-start: 1;
  grid-row-end: 2;


}


main>ul li img:hover {

  filter: blur(0.5em);

}


/* a - link categorien in ul styling met verschillende kleurtjes */

main>ul li a {

  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--color-kopjerood);
  color: var(--color-white);

  grid-row-start: 1;
  grid-row-end: 2;
  width: fit-content;
  padding: .5em;



  /* blokje word even groot als content */

  position: absolute;
  justify-self: center;
  align-self: center;


}

/* hover kleur */

main>ul li a:hover {

  background-color: var(--color-kopjeoranje);

}

/* aantal kopjes een andere kleur en hover eronder gelijk */

main>ul li:nth-of-type(2) a {

  background-color: var(--color-kopjeoranje);

}

main>ul li:nth-of-type(2) a:hover {

  background-color: var(--color-kopjerood);

}


main>ul li:nth-of-type(4) a {

  background-color: var(--color-kopjeoranje);

}

main>ul li:nth-of-type(4) a:hover {

  background-color: var(--color-kopjeoranje);

}

main>ul li:nth-of-type(6) a {

  background-color: var(--color-kopjeoranje);

}

main>ul li:nth-of-type(6) a:hover {

  background-color: var(--color-kopjerood);

}



/* teksten van ul h2 en p */

main>ul li h2 {

  color: var(--color-coffeebrown);
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;



}

main>ul li p {

  color: var(--color-coffeebrown);
  text-align: center;
  margin: 0;
}



/********************************* 
VERANDEREN NAAR GROTERE SCHERMEN 
**********************************/



/* grote verandering start vanaf ipad size */

@media (min-width: 24em) {

  main section ul li div img {
    width: 100%;
    height: auto;
    grid-row-end: 4;

    object-position: top 3em;
  }

  main section ul li div a {
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: center;
  }

  main section ul li div p {

    grid-row-start: 2;
    grid-row-end: 3;

    color: var(--color-white);
  }


}

/* verandering vanaf desktop size  */

@media (min-width: 53em) {


  body main>button {

    display: none;

  }


  main section:first-of-type {

    height: 23em;

  }

  main section:first-of-type ul {

    height: inherit;

  }


  main section:first-of-type ul li {

    height: inherit;

  }

  main section:first-of-type ul li div {

    height: inherit;

  }



}